<form action="/postForm" method="POST" enctype="multipart/form-data">

  <label>content

    <textarea name="content">

  </textarea>
  </label>
  <label>Picture
    <input type="file" name="picture">
  </label>

  <button>Create a new post</button>
</form>